@import '../../App.scss';

.posts {
	@include panel;
	grid-area: posts;
	background-color: var(--light);
	text-align: center;
	display: grid;
	grid-template-rows: auto 1fr;

	&__header {
		display: grid;
		grid-template-columns: 86px 1fr 86px;
		grid-template-areas:
			". title	new-post";
	}
	
	&__title {
		grid-area: title;
	}
	
	&__new-post {
		@include button-small;
		grid-area: new-post;
		margin-bottom: 1em;
	}

	&__list {
		@include border-thin;
		padding: 1em 0.5em;
		background-color: #eee;
		display: flex;
		flex-direction: column;
	}

	&__no-posts {
		margin: auto;
	}
}

.post {
	@include border-thin;
	cursor: pointer;
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__title {
		font-size: 1.25rem;
	}
}
