:root {
	--colour1: #72195a;
	--colour2: #4c1036;
	--light: #f2f3f4;
	--dark: #070707;
}

.App {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
	"header"
	"main"
	"footer";
}

@mixin border-thick {
	border: 2px solid var(--colour1);
}

@mixin border-thin {
	border: 1px solid var(--colour1);
}

@mixin panel {
	@include border-thick;
	padding: 1em;
	background-color: var(--light);
	color: var(--dark);
}

@mixin button {
	padding: 0.25em 0.5em;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	background-color: var(--colour1);
	color: var(--light);
	font-size: 1.25rem;
}

@mixin button-small {
	@include button;
	font-size: 1rem;
}
